<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/main.css" />
    <title>연세마켓</title>
  </head>

  <body>
    <div id="root">
      <header>
        <h1><span>안녕하세요 마켓컬리입니다</span></h1>
        <nav>
          <a href="/">메인페이지</a>
          <a href="/login">로그인</a>
          <a href="/signup" class="current">회원가입</a>
        </nav>
      </header>
      <main>
        <h3>개인정보(필수)</h3>
        <div class="row">
          <span>이름:</span>
          <input type="text" autofocus />
        </div>
        <div class="row">
          <span>생일:</span>
          <input type="date" autocomplete="bday" />
        </div>
        <div class="row">
          <span>학년:</span>
          <input type="number" required />
        </div>
        <div class="row">
          <span>전화번호:</span>
          <input type="phone" pattern="/^\d{3}-\d{3,4}-\d{4}$/" />
        </div>
        <div class="row">
          <span>아이디:</span>
          <input type="text" placeholder="사용할 아이디를 입력해주세요" />
        </div>
        <div class="row">
          <span>비밀번호:</span>
          <input type="password" />
        </div>
        <div class="row">
          <span>비밀번호 확인:</span>
          <input type="password" />
        </div>
        <div class="row actions">
          <button class="signup">Sign Up</button>
          <button class="cancel">Cancel</button>
        </div>
      </main>
    </div>
  </body>
</html>
